In [2]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt

In [55]:
X = pd.read_csv('./data/input_data.csv')
Y = pd.read_csv('./data/output_data.csv')

X['Date']= pd.to_datetime(X['Date'])
X = X.set_index(['Date'])
Y['Quarter End'] = pd.to_datetime(Y['Quarter End'])
Y = Y.set_index(['Quarter End'])

In [56]:
Y.head()

             Real GDP  GDP shift 1q  GDP shift 1yr
Quarter End
1990-01-01   9364.259      9398.243       9275.276
1990-04-01   9398.243      9404.494       9347.597
1990-07-01   9404.494      9318.876       9394.834
1990-10-01   9318.876      9275.276       9427.581
1991-01-01   9275.276      9347.597       9540.444

In [52]:
X.head()

,Date,1 mo TB,2 mo TB,3 mo TB,6 mo TB,1 yr TB,2 yr TB,3 yr TB,5 yr TB,7 yr TB,...,30 yr TB,Baa,DFF,3 mo TB vs DFF,1 yr TB vs 3 mo TB,2 yr TB vs 1 yr TB,5 yr TB vs 2 yr TB,10 yr TB vs 2 yr TB,10 yr TB vs 3 mo TB,Baa vs 10 yr TB
0,1990-01-02,NaN,NaN,7.83,7.89,7.81,7.87,7.90,7.87,7.98,...,8.00,9.85,8.54,-0.71,-0.02,0.06,0.00,0.07,0.11,1.91
1,1990-01-03,NaN,NaN,7.89,7.94,7.85,7.94,7.96,7.92,8.04,...,8.04,9.86,8.37,-0.48,-0.04,0.09,-0.02,0.05,0.1,1.87
2,1990-01-04,NaN,NaN,7.84,7.90,7.82,7.92,7.93,7.91,8.02,...,8.04,9.84,8.29,-0.45,-0.02,0.1,-0.01,0.06,0.14,1.86
3,1990-01-05,NaN,NaN,7.79,7.85,7.79,7.90,7.94,7.92,8.03,...,8.06,9.88,8.20,-0.41,0,0.11,0.02,0.09,0.2,1.89
4,1990-01-08,NaN,NaN,7.79,7.88,7.81,7.90,7.95,7.92,8.05,...,8.09,9.88,8.27,-0.48,0.02,0.09,0.02,0.12,0.23,1.86

In [58]:
X.index[1]

Timestamp('1990-01-03 00:00:00')

## Establish Sequence Padding

In [70]:
maxlength = 0
for i in range(1,len(X)-1):
    print(Y.index[i])
  #  for j in range(0,len(X)):
    quarter_input = X.loc[Y.index[i-1]:Y.index[i]]
   # print(len(quarter_input))
    if len(quarter_input) > maxlength:
        maxlength = len(quarter_input)
       # print("Quarter input type:",type(quarter_input))
       # print(X.loc[Y.index[i]:Y.index[i+1]])
print(maxlength)
#quarter_input.head()
        
#for i in range(1,2):
#    print(Y['Quarter End'][i])
#    count = 0
#    datelist = []
#    for j in range(0,len(X)):
#        if i == 0:
#            if X['Date'][j] < Y['Quarter End'][i+1]:
#                count += 1
#                datelist.append(X['Date'][j])
#        else:
#            if X['Date'][j] < Y['Quarter End'][i+1] and X['Date'][j] > Y['Quarter End'][i-1]:
#                count += 1
#                datelist.append(X['Date'][j])
#        print(datelist)

1990-04-01 00:00:00
1990-07-01 00:00:00
1990-10-01 00:00:00
1991-01-01 00:00:00
1991-04-01 00:00:00
1991-07-01 00:00:00
1991-10-01 00:00:00
1992-01-01 00:00:00
1992-04-01 00:00:00
1992-07-01 00:00:00
1992-10-01 00:00:00
1993-01-01 00:00:00
1993-04-01 00:00:00
1993-07-01 00:00:00
1993-10-01 00:00:00
1994-01-01 00:00:00
1994-04-01 00:00:00
1994-07-01 00:00:00
1994-10-01 00:00:00
1995-01-01 00:00:00
1995-04-01 00:00:00
1995-07-01 00:00:00
1995-10-01 00:00:00
1996-01-01 00:00:00
1996-04-01 00:00:00
1996-07-01 00:00:00
1996-10-01 00:00:00
1997-01-01 00:00:00
1997-04-01 00:00:00
1997-07-01 00:00:00
1997-10-01 00:00:00
1998-01-01 00:00:00
1998-04-01 00:00:00
1998-07-01 00:00:00
1998-10-01 00:00:00
1999-01-01 00:00:00
1999-04-01 00:00:00
1999-07-01 00:00:00
1999-10-01 00:00:00
2000-01-01 00:00:00
2000-04-01 00:00:00
2000-07-01 00:00:00
2000-10-01 00:00:00
2001-01-01 00:00:00
2001-04-01 00:00:00
2001-07-01 00:00:00
2001-10-01 00:00:00
2002-01-01 00:00:00
2002-04-01 00:00:00
2002-07-01 00:00:00
2002-10-01 00:00:00
2003-01-01 00:00:00
2003-04-01 00:00:00
2003-07-01 00:00:00
2003-10-01 00:00:00
2004-01-01 00:00:00
2004-04-01 00:00:00
2004-07-01 00:00:00
2004-10-01 00:00:00
2005-01-01 00:00:00
2005-04-01 00:00:00
2005-07-01 00:00:00
2005-10-01 00:00:00
2006-01-01 00:00:00
2006-04-01 00:00:00
2006-07-01 00:00:00
2006-10-01 00:00:00
2007-01-01 00:00:00
2007-04-01 00:00:00
2007-07-01 00:00:00
2007-10-01 00:00:00
2008-01-01 00:00:00
2008-04-01 00:00:00
2008-07-01 00:00:00
2008-10-01 00:00:00
2009-01-01 00:00:00
2009-04-01 00:00:00
2009-07-01 00:00:00
2009-10-01 00:00:00
2010-01-01 00:00:00
2010-04-01 00:00:00
2010-07-01 00:00:00
2010-10-01 00:00:00
2011-01-01 00:00:00
2011-04-01 00:00:00
2011-07-01 00:00:00
2011-10-01 00:00:00
2012-01-01 00:00:00
2012-04-01 00:00:00
2012-07-01 00:00:00
2012-10-01 00:00:00
2013-01-01 00:00:00
2013-04-01 00:00:00
2013-07-01 00:00:00
2013-10-01 00:00:00
2014-01-01 00:00:00
2014-04-01 00:00:00
2014-07-01 00:00:00
2014-10-01 00:00:00
2015-01-01 00:00:00
2015-04-01 00:00:00
2015-07-01 00:00:00
2015-10-01 00:00:00
2016-01-01 00:00:00
2016-04-01 00:00:00
2016-07-01 00:00:00
2016-10-01 00:00:00
2017-01-01 00:00:00
2017-04-01 00:00:00
2017-07-01 00:00:00
2017-10-01 00:00:00
2018-01-01 00:00:00
2018-04-01 00:00:00
2018-07-01 00:00:00
2018-10-01 00:00:00
2019-01-01 00:00:00
2019-04-01 00:00:00
2019-07-01 00:00:00
2019-10-01 00:00:00
2020-01-01 00:00:00
2020-04-01 00:00:00
2020-07-01 00:00:00
2020-10-01 00:00:00
2021-01-01 00:00:00
2021-04-01 00:00:00
2021-07-01 00:00:00

IndexError: index 127 is out of bounds for axis 0 with size 127

In [ ]:
# cols = X[X.columns[1:]].to_numpy()

X_1 = X.iloc[:,1:].values

X_1

In [24]:
X_1

for i in range(0,len(X)):

['1/2/1990',
 nan,
 nan,
 7.83,
 7.89,
 7.81,
 7.87,
 7.9,
 7.87,
 7.98,
 7.94,
 nan,
 8.0,
 9.85,
 8.54,
 '-0.71',
 '-0.02',
 '0.06',
 '0.00',
 '0.07',
 '0.11',
 1.91]

In [ ]:
model = Sequential()
model.add(LSTM(50, activation='relu', input_shape=(3, 1)))
model.add(Dense(1))
model.compile(optimizer='adam', loss='mse')