In [138]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt

In [151]:
X = pd.read_csv('./data/input_data.csv')
Y = pd.read_csv('./data/output_data.csv')

X['Date']= pd.to_datetime(X['Date'])
X = X.set_index(['Date'])
Y['Quarter End'] = pd.to_datetime(Y['Quarter End'])
Y = Y.set_index(['Quarter End'])

In [153]:
Y.head()

             Real GDP  GDP shift 1q  GDP shift 1yr
Quarter End
1990-01-01   9364.259      9398.243       9275.276
1990-04-01   9398.243      9404.494       9347.597
1990-07-01   9404.494      9318.876       9394.834
1990-10-01   9318.876      9275.276       9427.581
1991-01-01   9275.276      9347.597       9540.444

In [163]:
X['1 mo TB'] = X['1 mo TB'].ffill(limit=1)

X['1 mo TB'] = X['1 mo TB'].fillna(0)
X['2 mo TB'] = X['2 mo TB'].fillna(0)
X['3 mo TB'] = X['3 mo TB'].fillna(0)
X['6 mo TB'] = X['6 mo TB'].fillna(0)
X['1 yr TB'] = X['1 yr TB'].fillna(0)
X['2 yr TB'] = X['2 yr TB'].fillna(0)
X['3 yr TB'] = X['3 yr TB'].fillna(0)
X['5 yr TB'] = X['5 yr TB'].fillna(0)
X['7 yr TB'] = X['7 yr TB'].fillna(0)
X['10 yr TB'] = X['10 yr TB'].fillna(0)
X['20 yr TB'] = X['20 yr TB'].fillna(0)
X['30 yr TB'] = X['30 yr TB'].fillna(0)
X['Baa vs 10 yr TB'] = X['Baa vs 10 yr TB'].fillna(0)
#X["Baa"] = X.groupby('DFF')['Baa'].transform(lambda x: x.ffill())
X['Baa'] = X['Baa'].ffill()
X.head()
X.isna().sum()
#X = X.astype(float)

1 mo TB                0
2 mo TB                0
3 mo TB                0
6 mo TB                0
1 yr TB                0
2 yr TB                0
3 yr TB                0
5 yr TB                0
7 yr TB                0
10 yr TB               0
20 yr TB               0
30 yr TB               0
Baa                    0
DFF                    0
3 mo TB vs DFF         0
1 yr TB vs 3 mo TB     0
2 yr TB vs 1 yr TB     0
5 yr TB vs 2 yr TB     0
10 yr TB vs 2 yr TB    0
10 yr TB vs 3 mo TB    0
Baa vs 10 yr TB        0
dtype: int64

In [147]:
X.index[1]

Timestamp('1990-01-03 00:00:00')

## Establish Input Shape and Sequence Padding

In [167]:
maxlength = 0
X_1 = pd.DataFrame(index=Y.index)
X_1['Arr'] = ""
for i in range(1,len(Y)):
    quarter_input = X.loc[Y.index[i-1]:Y.index[i]]    
    if len(quarter_input) > maxlength:
        maxlength = len(quarter_input)
    quarter_input = quarter_input[quarter_input.columns[:]].to_numpy()
    X_1.at[X_1.index[i], 'Arr'] = quarter_input
   # X_1.


X_1.iloc[2]['Arr'].shape

#X_1.il.shape
#quarter_input

#quarter_input.reshape(62)

#np.reshape(quarter_input,62)

#quarter_input

(63, 21)

In [111]:
# cols = X[X.columns[1:]].to_numpy()

#X_1 = X.iloc[:,1:].values

##X_1

In [24]:
#X_1

#for i in range(0,len(X)):

['1/2/1990',
 nan,
 nan,
 7.83,
 7.89,
 7.81,
 7.87,
 7.9,
 7.87,
 7.98,
 7.94,
 nan,
 8.0,
 9.85,
 8.54,
 '-0.71',
 '-0.02',
 '0.06',
 '0.00',
 '0.07',
 '0.11',
 1.91]

In [ ]:
model = Sequential()
model.add(LSTM(50, activation='relu', input_shape=(3, 1)))
model.add(Dense(1))
model.compile(optimizer='adam', loss='mse')